# ════════════════════════════════════════════════════════════════════════════════
# 🔐 CI/CD 시스템 환경 설정 파일
# ════════════════════════════════════════════════════════════════════════════════

# ── LDAP 설정 ──────────────────────────────────────────────────────────────────
LDAP_ORGANISATION=Gwangho LAB
LDAP_DOMAIN=ghlab.dev

LDAP_HOST=ldap.ghlab.dev
LDAP_PORT=389
LDAPS_PORT=636
LDAP_URL=ldaps://ldap.ghlab.dev:636
LDAP_AUTH_URL=ldaps://ldap.ghlab.dev:636/ou=users,dc=ghlab,dc=dev?uid

LDAP_USER_BASE=ou=users
LDAP_ROLE_BASE=ou=roles

LDAP_ADMIN_USER=admin
LDAP_BASE_DN=dc=ghlab,dc=dev
LDAP_BIND_DN=cn=admin,dc=ghlab,dc=dev
LDAP_BIND_PASSWORD=<change-me>

LDAP_TLS=true
LDAP_TLS_CRT_FILENAME=fullchain.pem
LDAP_TLS_KEY_FILENAME=privkey.pem
LDAP_TLS_CA_CRT_FILENAME=chain.pem


# ── NEXUS 설정 ─────────────────────────────────────────────────────────────────
INSTALL4J_ADD_VM_PARAMS=-Xms1024m -Xmx1024m -XX:MaxDirectMemorySize=1024m
NEXUS_METRICS_PASSWORD=<change-me>

# ── Rundeck 설정 ───────────────────────────────────────────────────────────────
RUNDECK_GRAILS_URL=http://rundeck:4440

# ── Jenkins 설정 ───────────────────────────────────────────────────────────────

# ── 메일 알림 (MailHog) ──
SMTP_HOST=mailhog
SMTP_PORT=1025
MAIL_FROM=admin@ghlab.dev
