{
  "userId": "metrics",
  "firstName": "Metrics",
  "lastName": "Scraper",
  "emailAddress": "metrics@ghlab.dev",
  "password": "${NEXUS_METRICS_PASSWORD}",
  "status": "active",
  "roles": [
    "metrics"
  ]
}
