<?xml version="1.0" encoding="UTF-8"?>
<!--
  Jenkins 에서 사용할 Maven settings.xml.
  Jenkins Credentials 에 nexus-user/nexus-pass 등록 후
  withCredentials 로 환경변수 주입 → 이 파일이 ${nexus.user}/${nexus.pass} 를 치환.
-->
<settings>
    <servers>
        <server>
            <id>maven-releases</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>maven-snapshots</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>maven-public</id>
            <mirrorOf>*</mirrorOf>
            <url>http://nexus:8081/repository/maven-public/</url>
        </mirror>
    </mirrors>
</settings>
